@model AlertOnConflictingSiteParent

@{
    ViewBag.Subject = "Alert: Inconsistent Parent Directory in RedCap Instances";
    ViewBag.Heading = "Site Parent Directory Conflict Alert";
}

<p>Dear Admin,</p>

<p>One or more sites in RedCap have an inconsistent parent directory across 2 environments: env1 and env2.</p>

<p>The site(s) are as follows:</p>

<table>
    <thead>
    <tr>
        <th>Site Name</th>
        <!-- Gets the instance name from the first report in the Reports list assuming they are all the same -->
        <th>@Model.Reports[0].Item1.Instance.Name</th>
        <th>@Model.Reports[0].Item2.Instance.Name</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var report in Model.Reports)
    {
        <tr>
            <td>@report.Item1.SiteName</td>
            <td>@report.Item1.Description</td>
            <td>@report.Item2.Description</td>
        </tr>
    }
    </tbody>
</table>

<p>Please log in to RedCap and adjust these in order to resolve the issue.</p>

<p>Thanks,</p>

<p>&lt;SystemName&gt;</p>